/* 无导航栏时，Loading中断组件置顶 */
.spinner-layout .load-close {
	top: 0;
}
/* 重定向索引 */
.external-link {
	position: relative;
	margin: 0 10px;
	height: 2rem;
	line-height: 2rem;
}
.external-link > div {
	display: none;
	position: absolute;
	right: 10px;
	color: #0c6cff;
	font-weight: 200;
}
