	nav{
		display: block;
		height: 30px;
		width: 98%;
		border: 1px #abccba solid;
		border-bottom: none;
		overflow: hidden;
		margin: 10px auto;
	}
	nav a{
		display: block;
		float: left;
		width: 25%;
		text-align: center;
		line-height: 29px;
		background-color: #717171;
		outline: 1px #abccba solid;
		color: #fff;
	}
	nav .on{
		background-color: #fff;
		color: #717171;
		border-bottom: 1px #fff solid;
	}
	.nav{
		position: relative;
		display: block;
		width: 100%;
		height: 48px;
		margin-top: 48px;
		border: none;
	}
	.nav a{
		background-color: #dedddd;	
		width: 50%;
		height: 48px;
		line-height: 48px;
		font-size: 18px;
		color: #a7b3c3;
	}
	.nav .on{
		background-color: #fff;
	}
	.page-container{
		top:96px;
	}
	.menus{
		position: fixed;
		top: 0;
		width: 0;
		right: 0;
		background-color: #fff;
		z-index: 100;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		transition : all .7s;
		-moz-transition : all .7s;
		-webkit-transition : all .7s; 
		-o-transition : all .7s;
	}
	.menus-on{
		width: 80%;
	}
	.menus h4{
		text-align: right;
		height:48px;
		line-height: 48px;
		color: #fff;
		padding-right: 20px;
		background-color: #0c6cff;
	}
	.menus ul{
		min-width: 200px
	}
	.menus .m-one>li{
		list-style: none;
		padding:8px 24px;
		margin-left: 20px;
	}
	.data-ann,.data-mess{
		display: none;
	}
	.menus .m-one>li:last-child{
		margin-bottom: 15px;
	}
	.menus i{
		display: block;
		/*background-color: #ccc;*/
		font-style: normal;
		padding: 10px;
		border-top: 1px #e5e5e5 solid;
/*			border-bottom: 1px #e5e5e5 solid;*/
		margin-left: 20px;
	}
	.menus i>img{
		width: 20px;
		margin: 2px 7px 2px -18px;
		vertical-align: middle;
	    padding: 4px;
	}
	.menus .close{
		padding: 13px;
	}
	.cover{
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 55;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.3);
		color:#fff;
		line-height: 100%;
		text-indent: 10px;
	}
	.show{
		display: block;
	}
	.alive{
		color:#ccc;
	}
