<!DOCTYPE html>
<% include("timelog.js"); %>
<html>
	<head>
		<title>耗时日志</title>
		<meta content="width=device-width, initial-scale=1"  name="viewport" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" rewrited="<%=LOCAL_RESOURCE_USE_PROXY%>" href="<%=CONTAINER%>/resource/dist/css/zui.css"/>
		<link rel="stylesheet" rewrited="<%=LOCAL_RESOURCE_USE_PROXY%>" href="<%=CONTAINER%>/resource/dist/lib/datetimepicker/datetimepicker.min.css"/>
		<style type="text/css">
			.alert {
				padding: 0;
				margin-bottom: 0;
			}
			body {
				font-size: 9px;
			}
			strong {
				font-size: 13px;
			}
			.row {
				margin: 2px;
			}
			table {
				word-break: break-all;
				word-wrap: break-word;
			}
		</style>
	</head>
	<body>
		<div class="alert alert-info-inverse with-icon">
			<i class="icon icon-align-justify"></i>
			<div class="content">
				<strong>业务耗时日志</strong>
			</div>
		</div>
		<div class="row">
			<div class="panel">
				<div class="row">
					<div class="col-md-3">
						<a href="<%=TAILOR_BASE_URL%><%=BASE_URL%>/app/time_log_report">
							<button class="btn btn-info" id="report" type="button">
								<i class="icon icon-eye-close"></i>日志报表
							</button>
						</a>
					</div>
					<div class="col-md-3">
						<a href="<%=TAILOR_BASE_URL%><%=BASE_URL%>/app/time_log_detail">
							<button class="btn btn-info" id="timlog" type="button">
								<i class="icon icon-eye-close"></i>日志统计
							</button>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<input type="text" name="business" class="form-control " placeholder="业务名称">
				<input type="text" name="document" class="form-control " placeholder="公文">
			</div>
			<div class="col-md-2">
				<input type="text" name="login_account" class="form-control " placeholder="账号">
			</div>
			<div class="col-md-2">
				<input type="text" name="start_time" class="form-control form-datetime" placeholder="开始时间">
				<input type="text" name="end_time" class="form-control form-datetime" placeholder="截止时间">
			</div>
			<div class=" col-md-1">
				<button class="btn" id="search" type="button">
					<i class="icon icon-search"></i>
				</button>
			</div>
		</div>
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th style="width: 180px;">业务名称</th>
					<th style="width: 70px;">公文类型</th>
					<th style="width: 180px;">公文</th>
					<th style="width: 80px;">用户</th>
					<th style="width: 80px;">账号</th>
					<th style="width: 100px;">执行文件</th>
					<th style="width: 70px;">预处理耗时(ms)</th>
					<th style="width: 70px;">运行耗时(ms)</th>
					<th>URL</th>
					<th style="width: 120px;">时间戳</th>
				</tr>
			</thead>
			<tbody id="business">

			</tbody>
		</table>

		<ul class="pager" method="gettBusinessLogs" current_page="0">
			<li class="previous">
				<a href="javascript:void(0)">上一页</a>
			</li>
			<li class="next">
				<a href="javascript:void(0)">下一页</a>
			</li>
		</ul>
		<div class="alert alert-info-inverse with-icon">
			<i class="icon icon-align-justify"></i>
			<div class="content">
				<strong>业务详细耗时日志</strong>
			</div>
		</div>

		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th style="width: 80px;">采集点</th>
					<th style="width: 70px;">请求方法 </th>
					<th>请求地址</th>
					<th style="width: 70px;">请求耗时</th>
					<th style="width: 70px;">处理耗时</th>
					<th style="width: 120px;">时间戳</th>
				</tr>
			</thead>
			<tbody id="process">

			</tbody>
		</table>

		<ul class="pager" method="gettProcessLogs" current_page="0">
			<li class="previous">
				<a href="javascript:void(0)">上一页</a>
			</li>
			<li class="next">
				<a href="javascript:void(0)">下一页</a>
			</li>
		</ul>
		<script rewrited="<%=LOCAL_RESOURCE_USE_PROXY%>" src="<%=CONTAINER%>/resource/dist/lib/jquery/jquery.js"></script>
		<script rewrited="<%=LOCAL_RESOURCE_USE_PROXY%>" src="<%=CONTAINER%>/resource/dist/js/zui.js"></script>
		<script rewrited="<%=LOCAL_RESOURCE_USE_PROXY%>" src="<%=CONTAINER%>/resource/dist/lib/datetimepicker/datetimepicker.min.js"></script>
		<script type="text/javascript">
			$("input[name='start_time']").datetimepicker({
				weekStart : 1,
				todayBtn : 1,
				autoclose : 1,
				todayHighlight : 1,
				startView : 2,
				forceParse : 0,
				showMeridian : 1,
				format : 'yyyy-mm-dd hh:ii'
			});
			$("input[name='end_time']").datetimepicker({
				weekStart : 1,
				todayBtn : 1,
				autoclose : 1,
				todayHighlight : 1,
				startView : 2,
				forceParse : 0,
				showMeridian : 1,
				format : 'yyyy-mm-dd hh:ii'
			});
		</script>
		<script type="text/javascript">
			//刷新业务日志数据
			function refreshBusinessLogs(list) {
				$("#business").html("");
				for (var i = 0; i < list.length; i++) {
					var tr = "<tr class=\"business\" bid=\"" + list[i].id + "\"><td>" + list[i].business + "</td><td>" + list[i].doc_type + "</td><td>" + list[i].document + "</td><td>" + list[i].user + "</td><td>" + list[i].login_account + "</td><td>" + list[i].exec_file + "</td><td>" + list[i].before_time + "</td><td>" + list[i].run_time + "</td><td>" + list[i].url + "</td><td>" + list[i].timestamp + "</td></tr>";
					$("#business").append(tr);
				}
			}

			//刷新业务日志流程处理日志数据
			function refreshProcessLogs(list) {
				$("#process").html("");
				for (var i = 0; i < list.length; i++) {
					var tr = "<tr class=\"process\"><td>" + list[i].identifier + "</td><td>" + list[i].request_method + "</td><td>" + list[i].target_url + "</td><td>" + list[i].request_time + "</td><td>" + list[i].proces_time + "</td><td>" + list[i].timestamp + "</td></tr>";
					$("#process").append(tr);
				}
			}

			var post_url = "<%=timelogger_post_url%>";
			var pageSize = <%=pageSize%>;
			var bid;
			$(document).ready(function() {
				$.ajax({
					type : "post",
					data : {
						page : 0,
						method : "gettBusinessLogs"
					},
					url : post_url,
					dataType : "json",
					success : function(list) {
						refreshBusinessLogs(list);
						$("ul[method='gettBusinessLogs'] > .previous").addClass("disabled");
						if (list.length < pageSize) {
							$("ul[method='gettBusinessLogs'] > .next").addClass("disabled");
						}
						$("ul[method='gettProcessLogs'] > .previous").addClass("disabled");
						$("ul[method='gettProcessLogs'] > .next").addClass("disabled");
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
						console.log(errorThrown);
					}
				});
			});
			//搜索事件
			$(document).on("click", "#search", function() {
				$.ajax({
					type : "post",
					data : {
						page : 0,
						method : "gettBusinessLogs",
						filter : $("input[name='business']").val()
					},
					url : post_url,
					dataType : "json",
					success : function(list) {
						refreshBusinessLogs(list);
						$("ul[method='gettBusinessLogs'] > .previous").addClass("disabled");
						if (list.length < pageSize) {
							$("ul[method='gettBusinessLogs'] > .next").addClass("disabled");
						}
						$("ul[method='gettProcessLogs'] > .previous").addClass("disabled");
						$("ul[method='gettProcessLogs'] > .next").addClass("disabled");
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
						console.log(errorThrown);
					}
				});
			});
			$(document).on("click", ".business", function() {
				bid = $(this).attr('bid');
				$.ajax({
					type : "post",
					data : {
						page : 0,
						method : "gettProcessLogs",
						blogid : bid
					},
					url : post_url,
					dataType : "json",
					success : function(list) {
						refreshProcessLogs(list);
						$("ul[method='gettProcessLogs'] > .previous").addClass("disabled");
						if (list.length < pageSize) {
							$("ul[method='gettProcessLogs'] > .next").addClass("disabled");
						} else {
							$("ul[method='gettProcessLogs'] > .next").removeClass("disabled");
						}
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
						console.log(errorThrown);
					}
				});
			});
			$(document).on("click", ".previous", function() {
				var target = $(this);
				if (target.hasClass("disabled")) {
					return;
				}
				var method = target.parent().attr("method");
				var current_page = parseInt(target.parent().attr("current_page"));
				$.ajax({
					type : "post",
					data : {
						page : current_page - 1,
						method : method,
						blogid : bid,
						filter : $("input[name='business']").val()
					},
					url : post_url,
					dataType : "json",
					success : function(list) {
						var page_ui;
						if ("gettBusinessLogs" == method) {
							refreshBusinessLogs(list);
							page_ui = $("ul[method='gettBusinessLogs']");
						} else if ("gettProcessLogs" == method) {
							page_ui = $("ul[method='gettProcessLogs']");
							refreshProcessLogs(list);
						}

						current_page = current_page - 1;
						target.parent().attr("current_page", current_page);
						//重设处理过程分页情况
						var previous = page_ui.find(".previous");
						var next = page_ui.find(".next");
						next.removeClass("disabled");
						if ( current_page == 0) {
							previous.addClass("disabled");
						}
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
						console.log(errorThrown);
					}
				});
			});
			$(document).on("click", ".next", function() {
				var target = $(this);
				if (target.hasClass("disabled")) {
					return;
				}
				var method = target.parent().attr("method");
				var current_page = parseInt(target.parent().attr("current_page"));
				$.ajax({
					type : "post",
					data : {
						page : current_page + 1,
						method : method,
						blogid : bid,
						filter : $("input[name='business']").val()
					},
					url : post_url,
					dataType : "json",
					success : function(list) {
						var page_ui;
						if ("gettBusinessLogs" == method) {
							refreshBusinessLogs(list);
							page_ui = $("ul[method='gettBusinessLogs']");
						} else if ("gettProcessLogs" == method) {
							page_ui = $("ul[method='gettProcessLogs']");
							refreshProcessLogs(list);
						}
						current_page = current_page + 1;
						target.parent().attr("current_page", current_page);
						//重设处理过程分页情况
						var previous = page_ui.find(".previous");
						var next = page_ui.find(".next");
						if (current_page > 0) {
							previous.removeClass("disabled");
						}
						if (list.length < pageSize) {
							next.addClass("disabled");
						}
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
						console.log(errorThrown);
					}
				});
			});
		</script>
	</body>
</html>